.container-fluid{
    margin-top: 100px;
    width: 700px;
}
.d-flex {
    flex-wrap: wrap;
    width: 700px;
  }
  
  .row {
    .col-4 {
      div {
        top: 50px;
        position: sticky;
      }
    }
  }



  @media (max-width: 990px) {
    .container-fluid{
      margin-top: 100px;
      width: 500px;
  }
  .d-flex {
      flex-wrap: wrap;
      justify-content: center;
      width: 500px;
    }
  }