
<main>
    <section class="home">
      <aside class="flex-center">
        <article>
          <h1>We <br> Have <br> Best <br> Models </h1>
          </article>
          <img src="assets/img/1.jpg" alt="dog">
      </aside>
    </section>

    <section class="coments">
      <h2>What Our Clients Say</h2>
      <aside class="flex-center">
        <div class="coment">
          <h4>"Very Professional"</h4>
          <p>“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
          <span>Daria Cowan</span>
        </div>
        <div class="coment">
          <h4>"Great Service"</h4>
          <p>“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>           
          <span>Tom Rankin</span>
        </div>
        <div class="coment">           
          <h4>"Kind & Loving"</h4>
          <p>“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>           
          <span>Eva Kendall</span>
        </div>
      </aside>
    </section>
</main>